
@model Combattant
@{
    ViewData["Title"] = "Détails du combattant";
}
<div class="container">
    <div class="row">
        <div class="col-5">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@Model.ImageUrl" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/showtimematador.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <form method="post" action="https://www.w3schools.com/action_page.php">
                <input type="hidden" name="nom" value="Ilia Topuria">
                <button type="submit" class="btn btn-primary mt-3">ajouter en favoris</button>
            </form>
            <div class="card mt-4 d-none d-md-block">
                <div class="card-header">
                    Informations supplémentaires
                </div>
                <div class="card-body">
                    <h5 class="card-title">Statistiques de combat</h5>
                    <p class="card-text special">Victoires : @Model.Ratio.Victoires</p>
                    <p class="card-text special">Défaites : @Model.Ratio.Defaites</p>
                    <p class="card-text special">Matchs nuls : @Model.Ratio.Nuls</p>
                    <a href="https://www.youtube.com/watch?v=CuN2kRgh8vs" class="btn btn-primary">voir les meilleurs K.O</a>
                </div>
            </div>

        </div>
        <div class="col-7 bordure opacitee">
            <p>Nom: @Model.Nom</p>
            <p>Age: @Model.Age</p>
            <p>poids: @Model.Poid</p>
            <p>portee: @Model.Reach</p>
            <p>ratio: @Model.Ratio</p>
            <p>victoires par KO: @Model.VictoiresParKO</p>
            <p>precision: @Model.Precision</p>
            <p>origine: @Model.Origine</p>
            <p>champion: @Model.EstChampion</p>
            <h2>Description:</h2>
            <details>
                <summary>@Model.Nom</summary>
                <p>@Model.Description</p>
            </details>
            <!--la balise <del> met une barre sur du texte -->
            <!--details cree une zone de text cache et on peux la voir uniquemment si on appuie sur le titre (summary)-->

        </div>

    </div>
</div>
