@model List<Combattant>

<h2 class="text-center my-4">Recherche de Combattants UFC</h2>

<div class="container">
    <div class="row justify-content-between">
        <!-- Section des combattants -->
        <div class="col-12 col-md-8 bordure mb-4">
            <div class="row">
                @foreach (var combattant in Model)
                {
                    <div class="col-12 col-md-4 mb-4">
                        <a href="/Enfant/detail/@combattant.Id" class="no-underline">
                            <img src="@Url.Content(combattant.ImageUrl)" class="img-fluid bordure opacitee" alt="@combattant.Nom">
                            <p>
                                @{
                                    var nomSplit = combattant.Nom.Split(' ');
                                    if (nomSplit.Length > 1)
                                    {
                                        <text>@nomSplit[0]<br>@nomSplit[1]</text>
                                    }
                                    else
                                    {
                                        <text>@combattant.Nom</text>
                                    }
                                }
                            </p>
                        </a>
                    </div>
                }
            </div>
        </div>

        
        <div class="col-12 col-md-3 bordure boitecote opacitee mb-4">
            <form method="GET" asp-controller="Recherche" asp-action="Index">
                <div class="form-group textcolor">
                    <label for="search">Recherche</label>
                    <input type="text" class="form-control" id="search" name="search" placeholder="Entrez un nom">
                </div>
                <div class="form-group textcolor">
                    <label for="category">Champion ?</label>
                    <select class="form-control" id="category" name="category">
                        <option value="peuimporte">Peu importe</option>
                        <option value="oui">Oui</option>
                        <option value="non">Non</option>
                    </select>
                </div>
                <div class="form-group textcolor">
                    <label for="min">Min</label>
                    <input type="number" min="1" max="15" class="form-control" id="min" name="min" placeholder="Min">
                </div>
                <div class="form-group textcolor">
                    <label for="max">Max</label>
                    <input type="number" min="1" max="15" class="form-control" id="max" name="max" placeholder="Max">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox2" name="featherweight">
                    <label class="form-check-label textcolor" for="checkbox2">Poids plume</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox3" name="middleweight">
                    <label class="form-check-label textcolor" for="checkbox3">Poids Moyen</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkbox4" name="heavyweight">
                    <label class="form-check-label textcolor" for="checkbox4">Poids Lourds</label>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-dark textcolor">Rechercher</button>
                    </div>
                    <div class="col">
                        <button type="reset" class="btn btn-secondary textcolor">Effacer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
