@model Combattant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>voulez vous supprimer  ?</h3>
<div>
    <h4>Combattant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategorie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstChampion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstChampion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstActif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstActif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VictoiresParKO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VictoiresParKO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
